.carousel-item{
  width: 100%;
  height: 300px;
  -webkit-background-size:
  cover; -moz-background-size:
  cover; -o-background-size:
  cover; background-size: cover; }
  @media (max-width: 600px) {
    .carousel-item { height: 280px; } }

    .SizeImage{
      width: 150px;
      height: 150px;

    }
.fondoCat{

  background: #e9ebee;
}
    .peque {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

.colorLetra{

      color: white;
    }
    .colorFS{
        background: #37475a;
    }


    .mediano{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    body{
      background: #e9ebee;
    }
