<div id="carouselExampleIndicators" class="carousel slide "  data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner "role="listbox">
    <div class="carousel-item active"alt="First slide" style="background-image:url('Image/tecnologia.jpg')"></div>
    <div class="carousel-item " alt="Second slide"style="background-image:url('Image/nino.jpg')"></div>
    <div class="carousel-item " alt="Third slide"style="background-image:url('Image/seleccion.jpg')"></div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid" >
  <br>
  <div class="row">
    <div class="col-4"  >
      Filtros:  {{busqueda.categoria}}
      <br>

      <div class="row">
        <ul class="list-group list-group-flush"  >
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat">
              <input  type="radio"ng-model="busqueda.Ctg" value="IDM" > <i class="fas fa-tachometer-alt"></i>Instrumentos
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat" >
             <input   type="radio"ng-model="busqueda.Ctg" value="AV" ><i class="fas fa-tv"></i>Audio y Video
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat" >
              <input   type="radio"ng-model="busqueda.Ctg" value="CP"><i class="fas fa-laptop"></i>Computadoras
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat">
              <input   type="radio"ng-model="busqueda.Ctg" value="ETR" ><i class="fas fa-futbol"></i>Entretenimiento
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat">
              <input   type="radio"ng-model="busqueda.Ctg" value="SR" ><i class="fas fa-unlock-alt"></i>Seguridad
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center fondoCat">
              <input type="radio"ng-model="busqueda.Ctg">Todas las categorias
            </li>
          </ul>
      </div>


      <br>
            Precio:
      <br><br>
      -$1000
      ({{MenorMil.length}} Productos )
      <div class="progress bg-light">
        <div class="progress-bar"  role="progressbar"
        style="width: {{MenorMil.length*100/36}}%;"
        aria-valuenow="MenorMil.length"
        aria-valuemin="0"
        aria-valuemax="100"></div>
      </div><br>
       $1000-$3000
       ({{menor3mil.length}} Productos)
      <div class="progress bg-light">
        <div class="progress-bar" role="progressbar"
        style="width: {{menor3mil.length*100/36}}%;"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="100"></div>
      </div><br>
      $3000 - $5000
      ({{Menor5mil.length}} Productos)
      <div class="progress bg-light">
        <div class="progress-bar" role="progressbar"
        style="width: {{Menor5mil.length*100/36}}%;"
        aria-valuenow="45"
        aria-valuemin="0"
        aria-valuemax="100"></div>
      </div><br>
       $5000 +
       ({{Mayor5mil.length}} Productos )
      <div class="progress bg-light">
        <div class="progress-bar" role="progressbar"
        style="width: {{Mayor5mil.length*100/36}}%;"
        aria-valuenow="45"
        aria-valuemin="0"
        aria-valuemax="100"></div>
      </div>


    <p  style="padding-top: 50px;">Productos Más Populares</p>
    <hr>
    <div class="card-columns peque"  >
     <div class="card"    ng-repeat="item in ArregloPopular | limitTo:posicion  | limitTo:-2" >
       <p class="card-header">{{item.NomProd | RecorteNom}}</p>
       <div class="row">

         <a   ng-controller="carritoCtrl" class="btn btn-link btn-sm col-md-3" ng-click="MandarCarrito(item)" role="button"><i class="fas fa-cart-arrow-down"></i></a>
         <img class="card-img-top img-fluid col-md-7"   style="width:30px;height:75px;" ng-src="{{item.Img}}" >
       </div>
       <div class="card-body ">
         <p class="card-text">{{item.Descripcion | DesChica}}</p>
         <p class="card-text">{{item.Precio | currency:"$"}}</p>

       </div>

       <div class="card-footer">
         <div class="row">
           <a class="btn btn-link btn-sm col-md-4" ng-click="AbrirModal(item)" role="button">Caracteristicas</a>
           <div class="col-md-4" ></div>
           <div class="col-md-2"></div>
           <a  ng-controller="wishCtrl" class="btn btn-danger btn-sm col-md-2"ng-click="MandarFavoritos(item)"role="button"><i class="far fa-heart"></i></a>
         </div>
       </div>

     </div>
    </div>
    <button type="button"  class="btn btn-light"  ng-click="Restar()">  <i class="fas fa-angle-left"></i>   </button>
    <button type="button"  class="btn btn-light"  ng-click="siguientes()">   <i class="fas fa-angle-right"></i>
</button>





    </div>


<div class="col-8"  >


    <div class=" card-columns mediano" >
      <div class="card  " style="max-width: 18rem;" ng-repeat="item in ListadoItem | filter:busqueda |limitTo:pos  | limitTo:-9">
         <h5 class="card-header">{{item.NomProd | RecorteNom}}</h5>
          <div class="row">
            <a  ng-controller="carritoCtrl" class="btn btn-link btn-sm col-md-2" ng-click="MandarCarrito(item)" role="button"><i class="fas fa-cart-arrow-down"></i></a>
            <img class="card-img-top img-fluid SizeImage col-md-8" ng-src="{{item.Img}}" >
          </div>
          <div class="card-body ">
            <p class="card-text">{{item.Descripcion | Recorte}}</p>
            <p class="card-text">{{item.Precio | currency:"$"}} </p>
          </div>
          <div class="card-footer">
            <div class="row">
              <a class="btn btn-link btn-sm col-md-4" ng-click="AbrirModal(item)" role="button">Caracteristicas</a>
              <div class="col-md-4" ></div>
              <div class="col-md-2"></div>
              <a  ng-controller="wishCtrl" class="btn btn-danger btn-sm col-md-2"ng-click="MandarFavoritos(item)"role="button"><i class="far fa-heart"></i></a>
            </div>
          </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link"  ng-click="previous()">Anterior</a></li>
          <li class="page-item"><a class="page-link" ng-click="next()">Siguiente</a></li>
        </ul>
</nav>
</div>


  </div>
</div>
<div ng-include="'Pages/Modal_item.html'"></div>
